.btn {
    background-color: #222;
    color: #fff;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border: none;
  }
  
  .btn:hover {
    color: #ffbb33;
  }

  .btn_voltar {
    right: 18%;
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    border: none;
    cursor: pointer;
    max-height: 40px;
    position: absolute;
    bottom: 70%;
    right: 15%;
}

.btn_voltar:hover {
    color: #ffbb33;
}